<h1>
    Wildlife-tracker
</h1>

<div class="col-md-6">
    <a href="/recentsightings">Recent Sightings</a>
</div>
<div class="col-md-6">
    <a href="/endangered">Endangered Animals</a>
</div>

<a href="/sightings">Add a sighting</a>
