
<h2>Add a sighting</h2>
<form class="form_control" action="/sightings"
 method="post">
 <label for="name">Ranger Name</label>
 <input type="text" name="name" id="name">
 <label for="locate">Location of sighting</label>
 <input type="text" name="locate" id="locate" placeholder="Narok">
 
 <button type="submit" name="button">Submit</button>
</form>

<a href="/">Home</a>
