
<h2>Add a sighting</h2>
<form class="form_control" action="/sight"
 method="post">
 <label for="rangername">Ranger Name</label>
 <input type="text" name="rangername" id="rangername">
 <label for="location">Location of sihgting</label>
 <input type="text" name="location" id="location" placeholder="Narok">
 <button type="submit" name="button">Submit</button>

</form>
